.site__header{
    display: flex;
    flex-direction: column;
    

   @media screen and (min-width : $largeur__media-tablette) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   }

    &__titre {
        display: flex;
        align-items: center;
        flex : 1;
    
        h1{
            margin: 0;
            font-family: $font__header-h1;
            font-size: clamp(1rem, 1vw, 4rem);
            padding: 30px;
        }

        h2{
            font-family: $font__header-h2;
            font-size: clamp(1rem, 5vw, 2rem);
        }
    }

    &__utile{

        display: flex;
        flex-direction: column;

    }
    .icone{
    display: flex;


    &__lien{}
    
    }

    /*=============== recherche =============*/

    .recherche{
            display: flex;
            //align-items: center;
            justify-content: right;
            
            position: relative;

        &__input{
            outline: none;
            border: none;
            padding: 2px;
            box-sizing: content-box;
        }

        &__bouton{
        position: absolute;
        width: 29px;
        height: 20px;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }
            
    }
}
